<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MahlerNo2.Api.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <MahlerNo2.Api.Properties.Settings>
            <setting name="ShotRoot" serializeAs="String">
                <value>D:\MahlerNo2_Shots\</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>10.10.14.99</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3512</value>
            </setting>
            <setting name="CacheTimeForRequest" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CacheTimeForBackup" serializeAs="String">
                <value>60</value>
            </setting>
        </MahlerNo2.Api.Properties.Settings>
    </userSettings>
</configuration>
