<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MahlerNo2.Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MahlerNo2.Viewer.Properties.Settings>
            <setting name="ShotFolder" serializeAs="String">
                <value>D:\sync\MahlerNo2_Shots</value>
            </setting>
            <setting name="KeepRatio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSecond" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PSecond" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="NNSecond" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PPSecond" serializeAs="String">
                <value>-30</value>
            </setting>
            <setting name="NNNSecond" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="PPPSecond" serializeAs="String">
                <value>-300</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.5</value>
            </setting>
        </MahlerNo2.Viewer.Properties.Settings>
    </userSettings>
</configuration>