-- 먼저 mahler / no2 계정 생성하여야 함

USE [master]
GO
/****** Object:  Database [MahlerNo2]    Script Date: 2019-10-06 오후 3:12:18 ******/
CREATE DATABASE [MahlerNo2]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MahlerNo2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MahlerNo2]
GO
/****** Object:  User [mahler]    Script Date: 2019-10-06 오후 3:12:18 ******/
CREATE USER [mahler] FOR LOGIN [mahler] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [mahler]
GO
/****** Object:  Table [dbo].[Emoticon]    Script Date: 2019-10-06 오후 3:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emoticon](
	[EmoticonId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[At] [datetime] NOT NULL,
 CONSTRAINT [PK_Emoticon] PRIMARY KEY CLUSTERED 
(
	[EmoticonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 2019-10-06 오후 3:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[At] [datetime] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shot]    Script Date: 2019-10-06 오후 3:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shot](
	[At] [datetime] NOT NULL,
	[Data] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Shot] PRIMARY KEY CLUSTERED 
(
	[At] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Emoticon] ADD  CONSTRAINT [DF_Emoticon_EmoticonCode]  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[Emoticon] ADD  CONSTRAINT [DF_Emoticon_At]  DEFAULT (getdate()) FOR [At]
GO
USE [master]
GO
