<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MahlerNo2.Recorder.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2"/>
  </System.Windows.Forms.ApplicationConfigurationSection>
  <userSettings>
    <MahlerNo2.Recorder.Properties.Settings>
      <setting name="ShotInterval" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Opacity" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MaxPreviousShots" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="BreakTimeAlarm" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Address" serializeAs="String">
        <value>cn76.ipdisk.co.kr, 3423</value>
      </setting>
      <setting name="MaxRating" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="EmotionCheckInterval" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="LatestEmoticonMinute" serializeAs="String">
        <value>5</value>
      </setting>
    </MahlerNo2.Recorder.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
